{% extends 'base.html' %}
{% load static %}

{% block title %}Hello world{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block nav %}
  {% include 'nav.html' %}
{% endblock %}

{% block content %}
  {% include 'posts.html' %}
{% endblock %}

{% block pagination %}
  {% include 'pagination.html' %}
{% endblock %}

{% block js %}
  <script src="{% static 'js/mysite.js' %}"></script>
{% endblock %}