<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="{% url 'all_entries' %}">Главная <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="{% url 'entries' %}">Ваши посты <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="{% url 'logout' %}">Выход <span class="sr-only">(current)</span></a>
  </div>
</div>
</nav>