{% load blog_extras %}

<nav class="mt-3">
  <ul class="pagination">
    {% if object_list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ object_list.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Пред.</span>
        </a>
      </li>
    {% endif %}
    {% if object_list.paginator.page_range|length < 7 %}
      {% for page_num in object_list.paginator.page_range %}
        <li class="page-item {% if page_num == object_list.number %}active{% endif %}">
          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
      {% endfor %}
    {% else %}
      {% if object_list.number == 1 %}
        <li class="page-item active">
          <a class="page-link" href="?page=1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page=2">2</a>
        </li>
        <li class="page-item">
          <a class="page-link">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|penult}}">{{object_list.paginator.page_range|penult}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|last}}">{{object_list.paginator.page_range|last}}</a>
        </li>
      {% elif object_list.number == 2 %}
        <li class="page-item">
          <a class="page-link" href="?page=1">1</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="?page=2">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page=3">3</a>
        </li>
        <li class="page-item">
          <a class="page-link">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|penult}}">{{object_list.paginator.page_range|penult}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|last}}">{{object_list.paginator.page_range|last}}</a>
        </li>
      {% elif object_list.number == 3 %}
        <li class="page-item">
          <a class="page-link" href="?page=1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page=2">2</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="?page={{object_list.number}}">{{object_list.number}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page=4">4</a>
        </li>
        <li class="page-item">
          <a class="page-link">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|last}}">{{object_list.paginator.page_range|last}}</a>
        </li>
      {% elif object_list.number == object_list.paginator.page_range|penult_penult %}
        <li class="page-item">
          <a class="page-link" href="?page=1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page=2">2</a>
        </li>
        <li class="page-item">
          <a class="page-link">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|penult_penult_penult}}">{{object_list.paginator.page_range|penult_penult_penult}}</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="?page={{object_list.paginator.page_range|penult_penult}}">{{object_list.paginator.page_range|penult_penult}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|penult}}">{{object_list.paginator.page_range|penult}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|last}}">{{object_list.paginator.page_range|last}}</a>
        </li>
      {% elif object_list.number == object_list.paginator.page_range|penult %}
        <li class="page-item">
          <a class="page-link" href="?page=1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page=2">2</a>
        </li>
        <li class="page-item">
          <a class="page-link">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|penult_penult}}">{{object_list.paginator.page_range|penult_penult}}</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="?page={{object_list.paginator.page_range|penult}}">{{object_list.paginator.page_range|penult}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|last}}">{{object_list.paginator.page_range|last}}</a>
        </li>
      {% elif object_list.number == object_list.paginator.page_range|last %}
        <li class="page-item">
          <a class="page-link" href="?page=1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page=2">2</a>
        </li>
        <li class="page-item">
          <a class="page-link">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|penult}}">{{object_list.paginator.page_range|penult}}</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="?page={{object_list.paginator.page_range|last}}">{{object_list.paginator.page_range|last}}</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page=1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.number|get_minus_one}}">{{object_list.number|get_minus_one}}</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="?page={{object_list.number}}">{{object_list.number}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.number|get_plus_one}}">{{object_list.number|get_plus_one}}</a>
        </li>
       <li class="page-item">
          <a class="page-link">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{object_list.paginator.page_range|last}}">{{object_list.paginator.page_range|last}}</a>
        </li>
      {% endif %}
    {% endif %}
    {% if object_list.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ object_list.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">След.</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>