{% for entry in object_list %}
  <div class="post mt-3">
    <h3>{{entry.user.username}}</h3>
    <h4>{{entry.title}}</h4>
    <p>{{entry.creation_date}}</p>
    <p>{{entry.body}}</p>
    {% if request.user.id != entry.user_id %}
      <i class="fa fa-thumbs-o-up" aria-hidden="true">{{entry.likes_count}}</i>
      <button type="button" class="btn btn-default like">Лайк</button>
      <button type="button" class="btn btn-default dislike">Дизлайк</button>
    {% else %}
      <i class="fa fa-thumbs-o-up" aria-hidden="true">{{entry.likes_count}}</i>
    {% endif %}
    <span class="entry_id" hidden>{{entry.id}}</span>
  </div>
{% endfor %}